<div class="w-full" id= "wraper">
<div class="title-new"><h1>Add New Tool</h1></div>
  <div class="showbgimg2 w-full">
      <div class="showcard m-5 p-5">
        <%= simple_form_for (@tool) do |f| %>
        <%= f.input :tool_name %>
        <%= f.input :description %>
        <%= f.input :category %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
        <% end %>
      </div>
  </div>
</div>
